body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    transition: background-color 0.5s ease;}
body:hover {
    background-color: #e0e0e0;}
h1 {color: #333;
    text-align: center;
    animation: fadeIn 2s ease-in-out;}

#searchBar, #searchKey {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    border: 1px solid #642a2a;
    border-radius: 5px;
    transition: border-color 0.3s ease;}

#searchBar:focus, #searchKey:focus {
    border-color: #949292;}

#carList {
    margin-top: 20px;}

.car {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;}

.car:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);}

.car h2 {
    margin: 0;
    color: #884343;
    animation: slideIn 1s ease-in-out;}


